@font-face
{
    font-family: barlow ;
    src:url(../fonts/fontawesome-webfont.ttf);
}
@font-face
{
    font-family: marck;
    src:url(../fonts/MarckScript-Regular.ttf);
}
.top-header-fix {
    position: sticky;
    z-index: 9;
    background-color:#ffffff;
	width: 100%;
	top:0;
}

.logo img
{
	width: 100%;
	padding-top: 3px;
}
.navbar-nav li
{  list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.navbar-nav li:nth-child(1) a
{
	background: #63c7bd;
    color: #ffffff !important;
}
.navbar-nav li:hover a
{
    background: #63c7bd;
    color: #ffffff !important;
}

.navbar-nav .nav-link
{
    padding: 15px 15px!important;
    text-transform: uppercase;
    font-size: 16px; 
    font-family: barlow;
    
}

.carousel-inner .carousel-item
{
    position: relative;
}
.carousel-item img
{
    width: 100%;
}
.carousel-inner .carousel-item .shadow-slide
{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: #333333;
    opacity: 0.4;
}
  
.carousel-inner .carousel-item 
{
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.carousel-inner .carousel-item .wrap-caption
{
    width: 80%;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.wrap-caption h1
{
    font-size: 68px;
    color: #ffffff;
    font-family:marck;
}

.wrap-caption h2{
	font-size: 48px;
	color: #ffffff;

}
.wrap-caption p{
	color: #ffffff;
}
.wrap-caption p strong
{
    color: #dd666c;
	font-size: 40px;
	font-family:marck;
}

.wrap-caption a.btn{
	background: #63c7bd;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
    color: #ffffff;
}
.wrap-caption a.btn:hover{
	background: #dd666c;
}


.about{
	padding: 70px 0px;
}
.title-box{
	text-align: center;
	margin-bottom: 30px;
}
.title-box h2{
	font-size: 60px;
	font-family: marck; 
	color: #222222;
}
.title-box h2 span{
	color: #dd666c;
	text-decoration: underline;
}
.about-main-info h2{
	font-size: 40px;
	font-family: marck;
}
.about-main-info h2 span{
	color: #dd666c;
	text-decoration: underline;
}

.main-timeline-box{
	padding: 70px 0px;
}

/*------------------------------------------------------------------
    Story
-------------------------------------------------------------------*/
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.main-timeline-box{
	position: relative;
	word-wrap: break-word;
}

.main-timeline-box .timeline-element {
    margin-bottom: 50px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.main-timeline-box .reverse {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}
.main-timeline-box .separline::before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: calc(50% - 1px);
    height: calc(100% + 4rem);
}

.main-timeline-box .iconBackground {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    background-color: #f1f1f1;
    top: 20px;
    margin-left: -10px;
}
.main-timeline-box .timeline-text-content {
    padding: 30px 35px;
	background: #f1f1f1;
}
.main-timeline-box .reverse .timeline-text-content{
	margin-right: 30px;
}
.main-timeline-box .reverse .time-line-date-content p {
    float: left;
	padding: 30px 35px;
	background: #f1f1f1;
}
.main-timeline-box .reverse .time-line-date-content {
	margin-right: 30px;
}

.display-font{
	font-family: 'Marck Script', cursive;
	font-size: 30px;
	color: #222222;
}
.main-timeline-box .timeline-text-content{
	margin-left: 30px;
}
.main-timeline-box .time-line-date-content p {
    float: right;
	padding: 30px 35px;
	background: #f1f1f1;
}
.main-timeline-box .time-line-date-content {
	margin-right: 30px;
}

.main-timeline-box .time-line-date-content .mbr-timeline-date{
	background: #dd666c;
	color: #ffffff;
}
.main-timeline-box .reverse .time-line-date-content .mbr-timeline-date{
	background: #63c7bd;
	color: #ffffff;
}



/*------------------------------------------------------------------
    Family
-------------------------------------------------------------------*/
.family-box{
	padding: 70px 0px;
}

.single-team-member {
    position: relative;
    margin-top: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.family-img{
	position: relative;
}
.family-img::after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #535c68;
}
.family-info{
	padding: 25px 30px;
	background-color: #f1f1f1;
}
.family-info h4{
	font-family: marck;
	font-size: 24px;
}
.family-info p{
	margin: 0px;
	font-size: 18px;
}
/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/
.gallery-box{
	padding: 70px 0px;
}

.gallery-box ul{
    padding: 0;
}
.gallery-box ul li{
	position: relative;
	width: 25%;
	margin: 0;
	padding: 0;
	float: left;
	border: none;
	overflow: hidden;
}
.gallery-box ul li a{
	position: relative;
	display: inline-block;
}
.gallery-box ul li a::before{
	content: "";
	position: absolute;
	background: rgba(99, 199, 189, 0.5);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a .overlay{
	background: #dd666c;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	width: 38px;
	height: 38px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a:hover::before{
	top: 0;
	opacity: 1;
}
.gallery-box ul li a:hover .overlay{
	opacity: 1;
}

/*------------------------------------------------------------------
    Events
-------------------------------------------------------------------*/

.events-box{
	padding: 70px 0px;
}
.event-inner{
	margin-bottom: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.event-img{
	margin-bottom: 15px;
}

.event-inner a{
	background: #dd666c;
	color: #ffffff;
	padding: 5px 10px;
	font-size: 18px;
	
}
.event-inner a:hover{
	background: #63c7bd;
}

.contact-box{
	padding: 70px 0px;
}
.contact-block .form-group .form-control{
	background: #e6eceb;
	height: 45px;
	font-size: 16px;
	border: 0;
	color: #222222;
	padding: 6px 15px;
}

.contact-block .form-group textarea.form-control{
	height: 150px;
	padding-top: 15px;
}

.submit-button .btn-common{
	background-color: #63c7bd;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 0 15px;
}
.submit-button .btn-common:hover{
	background-color: #dd666c;
}

.custom-select{
	height: 45px;
	font-size: 16px;
}
/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
.footer-box
{
	background: #292f35;
	padding: 20px 0;
}

.footer-box .footer-company-name{
	text-align: center;
	margin: 0px;
	color: #ffffff;
}

.footer-box .footer-company-name a{
	color: #dd666c;
}
.footer-box .footer-company-name a:hover{
	color: #63c7bd;
}



@media (max-width: 992px)
{
	.carousel-inner .carousel-item .wrap-caption
	{
		width: 70%;
		color: white;
		position: absolute;
		top: 20%;
		left: 15%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.wrap-caption h1
	{
		font-size: 60px;
		color: #ffffff;
		font-family:marck;
	}
	
	.wrap-caption h2{
		font-size: 40px;
		color: #ffffff;
	
	}
	.wrap-caption p strong
	{
		color: #dd666c;
		font-size: 35px;
		font-family:marck;
	}
	
	.wrap-caption a.btn{
		background: #63c7bd;
		padding: 10px 30px;
		font-size: 18px;
		text-transform: uppercase;
		color: #ffffff;
	}
}
@media (max-width: 768px)
{
	.carousel-inner .carousel-item .wrap-caption
	{
		width: 70%;
		color: white;
		position: absolute;
		top: 20%;
		left: 15%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.wrap-caption h1
	{
		font-size: 55px;
		color: #ffffff;
		font-family:marck;
	}
	
	.wrap-caption h2{
		font-size: 37px;
		color: #ffffff;
	
	}
	.wrap-caption p strong
	{
		color: #dd666c;
		font-size: 30px;
		font-family:marck;
	}
	
	.wrap-caption a.btn{
		background: #63c7bd;
		padding: 8px 20px;
		font-size: 15px;
		text-transform: uppercase;
		color: #ffffff;
	}
}

@media (max-width: 645px)
{
	.carousel-inner .carousel-item .wrap-caption
	{
		width: 70%;
		color: white;
		position: absolute;
		top: 20%;
		left: 15%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.wrap-caption h1
	{
		font-size: 50px;
		color: #ffffff;
		font-family:marck;
	}
	
	.wrap-caption h2{
		font-size: 35px;
		color: #ffffff;
	
	}
	.wrap-caption p strong
	{
		color: #dd666c;
		font-size: 26px;
		font-family:marck;
	}
	
	.wrap-caption a.btn{
		background: #63c7bd;
		padding: 8px 20px;
		font-size: 15px;
		text-transform: uppercase;
		color: #ffffff;
	}
}



@media (max-width: 587px)
{
	.carousel-inner .carousel-item .wrap-caption
	{
		width: 70%;
		color: white;
		position: absolute;
		top: 20%;
		left: 15%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.wrap-caption h1
	{
		font-size: 35px;
		color: #ffffff;
		font-family:marck;
	}
	
	.wrap-caption h2{
		font-size: 22px;
		color: #ffffff;
	
	}
	.wrap-caption p strong
	{
		color: #dd666c;
		font-size: 20px;
		font-family:marck;
	}
	
	.wrap-caption a.btn{
		background: #63c7bd;
		padding: 6px 16px;
		font-size: 13px;
		text-transform: uppercase;
		color: #ffffff;
	}
}

@media (max-width: 440px)
{
	.carousel-inner .carousel-item .wrap-caption
	{
		width: 70%;
		color: white;
		position: absolute;
		top: 18%;
		left: 15%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	.wrap-caption h1
	{
		font-size: 30px;
		color: #ffffff;
		font-family:marck;
	}
	
	.wrap-caption h2{
		font-size: 18px;
		color: #ffffff;
	
	}
	.wrap-caption p strong
	{
		color: #dd666c;
		font-size: 16px;
		font-family:marck;
	}
	
	.wrap-caption a.btn{
		background: #63c7bd;
		padding: 5px 13px;
		font-size: 11px;
		text-transform: uppercase;
		color: #ffffff;
	}
}